$color: grey;

body {
  p{
    font-weight:bold;
    color: $color;
  }
}

.botoncito {
	width: 75px;
}

.titulo {
	color: #C9302C;
}

.ng-binding {
	margin-top: 0px;
	text-align: center;
}

.thumb_ {
	position: absolute;
	padding: 15px;
	border-radius: 15px;
}

.redondeada {
	border-radius: 10px;
}

.thumbnail {
	height: 430px;
}

